* {
    margin: 0;
    padding: 0;
}


.clogo {
    padding-left: 150px;
    max-width: 90px;
   padding-top: 10px;
   padding-bottom: 5px;
   display: flex;
    
}


.navbar {
    background-color: rgb(106, 106, 106);
    display: flex;
}
.nav-list {
   padding-left: 150px;
    padding-right: 15px;
    display: flex;
}
.nav-list li{ 
    list-style: none;
    padding: 20px 35px;
    

}
.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-list li a:hover {
    text-decoration: none;
    
    color: grey;

}
.painting {
display: flex;
  width: 75%;
 position: relative;

}
.first {
    display: flex;
    background: url(couplewall2.jpg);
    background-size: cover;
    background-position: center;
   height: 500px;

    
}
#Citizen {
    padding-top: 200px;
    font-size: 45px;
    padding-left: 100px;
}

#cb {
padding-left: 125px;
font-size: 20px;
}

.heading {
    font-size: 20px;
    background-color: burlywood;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.category {
    padding: 25px 25px;
    display: flex;
    
}
.cat-list {
    
    text-align: center;
    display: flex;
}
.cat-list li {
  margin-left: 45px;
    list-style: none;
    text-align: center;
    background-color: antiquewhite;
    
}
.cat-list li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    

}
.product {
    display: flex;
    text-decoration: none;
    padding-left: 150px;
    padding-right: 15px;
}
.secound {
    display: flex;
}
.bphoto {
   
   width: 250px; 
}

.product li {
    padding: 10px 90px;
    list-style: none;
}
.contact-form {
    display: flex;
padding-top: 10px;
background: burlywood;
}
.form-group {
    display: flex;  

}
.beintouch {
    padding-left: 125px;
    padding-right: 100px;
    padding-top: 15px;
    font-size: 20px;
    color: rgb(88, 88, 88);
}


.fa {
  padding: 18px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 180px;
  border-radius: 20%;
  

}

.fa-instagram {
    background: #125688;
    color: white;
  margin-left: 10px;
  border-radius: 20%;
  }


.form-control {
    border-radius: 10px;
    border-color: bisque;
    padding: 10px 20px; 
    width: 400px;
    height: 15px; 
}
.footer_subscribe_btn {
    margin-top: 6px;
   height: 40px;
    width: 100px;
    background-color: rgb(88, 88, 88);
    color: white;
    border-radius: 5%;
    border: none;
}
.tt-social-icon{
display: flex;
}
.tt-social-icon li {
    list-style: none;
    
    padding-bottom: 10px;
}
.text-footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(88, 88, 88);
    color: white;
}


.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;


}
.line{
    width: 33px;
    background-color: black;
    height: 4px;
    margin: 3px 3px;
}
.word {
    padding-top: 125px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}


@media only screen and (max-width: 1190px) {
    .nav-list{
        flex-direction: column;
        text-align: center;
        padding-left: 15px;

    }
    

    .navbar {
        flex-direction: column;
        height: 40px;
        transition: all 0.7s ease-out;
        
    }
    .rightnav {
        text-align: center;
    }
    #search {
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 250px;
        
    }
    .v-class-resp {
        opacity: 0;
    }
.category {
    padding: 0px 0px;
    flex-direction: column;
    
}
.cat-list {
    flex-direction: column;
    text-align: center;
     margin-left: 0px;
}
    .contact-form {
        flex-direction: column;
        text-align: center;

    }
    .form-group {
        flex-direction: column;
    }
    .form-control {
        width: 300px;
        
    }
    .leftside {
        text-align: center;
    }
    .beintouch {
        padding: 0px;
        text-align: center;
    }
    .btn {
        text-align: center;
    
    }
    .tt-social-icon {
        flex-direction: row-reverse;
        text-align: center;
        
    }
    .fa-facebook {
        margin: 1px;
        text-align: center;
    }
.tt-col-item {
    text-align: center;
    flex-direction: row-reverse;
}
.tt-col-right {
    text-align: center;
    
}
.cat-list li {
    margin-left: 0px;
    padding-bottom: 10px;
}
.word {
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
}
