* {
    margin: 0;
    padding: 0;
}


.clogo {
    padding-left: 150px;
    max-width: 90px;
   padding-top: 10px;
   padding-bottom: 5px;
    
}


.navbar {
    background-color: rgb(106, 106, 106);
    display: flex;
}
.nav-list {
    padding-left: 150px;
    padding-right: 15px;
    display: flex;
}
.nav-list li{ 
    list-style: none;
    padding: 20px 35px;
    

}
.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-list li a:hover {
    text-decoration: none;
    
    color: grey;

}
.painting {
display: flex;
  width: 75%;
 position: relative;

}
.first {
    display: flex;
    background: url(couplewall2.jpg);
    background-size: cover;
height: 500px;
    
}
#Citizen {
    padding-top: 200px;
    font-size: 45px;
    padding-left: 100px;
}

#cb {
padding-left: 125px;
font-size: 20px;
}

.heading {
    font-size: 20px;
    background-color: burlywood;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.category {
    display: flex;
}
.cat-list {
    padding-left: 150px;
    padding-right: 15px;
    display: flex;
}
.cat-list li {
    list-style: none;
    padding: 20px 150px;
}
.cat-list li a {
    text-decoration: none;
    color: black;
    font-size: 25px;

}
.product {
    display: flex;
    text-decoration: none;
    padding-left: 150px;
    padding-right: 15px;
}
.secound {
    display: flex;
}
.bphoto {
   
   width: 250px; 
}

.product li {
    padding: 10px 90px;
    list-style: none;
}
.contact-form {
    display: flex;
padding-top: 10px;
background: burlywood;
}
.form-group {
    display: flex;  

}
.beintouch {
    padding-left: 100px;
    padding-top: 15px;
    font-size: 20px;
    color: rgb(88, 88, 88);
}


.fa {
  padding: 18px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 180px;
  border-radius: 20%;
  

}

.fa-instagram {
    background: #125688;
    color: white;
  margin-left: 10px;
  border-radius: 20%;
  }


.form-control {
    margin-left: 75px;
    height: 40px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 5px;
    
}
.footer_subscribe_btn {
    margin-top: 6px;
   height: 40px;
    width: 100px;
    background-color: rgb(88, 88, 88);
    color: white;
}
.tt-social-icon{
display: flex;
}
.tt-social-icon li {
    list-style: none;
    
    padding-bottom: 10px;
}
.text-footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(88, 88, 88);
    color: white;
}
